* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.section {
  padding: 60px 0;
  width: 930px;
  margin: 0 auto;
}

.section__title {
  font-size: 32px;
  margin-bottom: 48px;
}

.section__heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}

.search-input {
  display: block;
  width: 400px;
  line-height: 32px;
  padding: 0 16px;
  font-size: 16px;
}

.select {
  display: block;
  line-height: 32px;
  padding: 0 16px;
  font-size: 16px;
}

.alert {
  display: none;
  padding: 12px;
  font-size: 16px;
  text-align: center;
  line-height: 150%;
  border-radius: 6px;
  background-color: rgba(235, 87, 87, 0.2);
  color: #eb5757;
}

.alert.alert_visible {
  display: block;
}

.table {
  border-collapse: collapse;
  width: 100%;
}

.table__heading,
.table__data {
  border: 1px solid #8e8e8e;
  padding: 12px;
}

.table__heading {
  background-color: #4281e6;
  color: #ffffff;
  text-align: left;
}

.table__row:nth-child(2n) {
  background-color: #efefef;
}
